body {
    background-color: azure;
    margin:0;
    padding:0;
}

h1 {
    font-size: xx-large;

}

.header {
    display: flex;
    width: 100%;
    background-color: black;
    color: white;
    align-items: center;
    justify-content: space-between;
}

.header a{
    color: white;
    padding: 0,5%;
}

.header-left {
    margin-left: 2%;
}

.header-right{
    margin-right: 2%;
}

.body-left {
    background-color: black;
    width:50%;
    height:50%;
    
}
